package year2026

import (
	"github.com/michael/stammtisch-wrapped/web/templates"
	"github.com/michael/stammtisch-wrapped/web/templates/years/2026/slides"
	"github.com/michael/stammtisch-wrapped/web/templates/years/2026/viewmodels"
)

// Page renders the complete 2026 Wrapped experience
templ Page(vm viewmodels.PageViewModel) {
	@templates.Layout("Stammtisch Wrapped 2026 🍺", "2026") {
		<div id="share-data" class="hidden" data-share={ vm.ShareJSON }></div>
		@slides.Intro()
		@slides.YearStats(vm.YearStats)
		@slides.RankingIntro()
		@slides.Top5(vm.Top5Rankings)
		@slides.MidRanking(vm.MidRankings)
		@slides.BottomRanking(vm.BottomRankings)
		@slides.Streaks(vm.AttendanceStreaks, vm.CancellationStreaks)
		@slides.ExcuseCategories(vm.CategoryStats)
		@slides.BestExcuses(vm.BestExcuses, vm.RecycledExcuses)
		@slides.AttendanceHeatmap(vm.AttendanceHeatmapMonths, vm.AttendanceHeatmapInsight)
		@slides.Thursdays(vm.BestThursdays, vm.WorstThursdays)
		@slides.FullHouse(vm.FullHouse)
		@slides.Twins(vm.Twins)
		@slides.AISummary(vm.AIStats)
		@slides.PersonalityTypes(vm.PersonalityTypes)
		@slides.Quiz(vm.Quiz)
		@slides.StrafenIntro()
		@slides.Strafen(vm.Strafen)
		@slides.AwardsIntro()
		@slides.Awards(vm.Awards)
		@slides.Finale(vm.Confetti)
	}
}
