apiVersion: v1
kind: Service
metadata:
  name: {{ include "n8n-stack.fullname" . }}-postgres
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "n8n-stack.postgres.labels" . | nindent 4 }}
spec:
  type: {{ .Values.postgres.service.type }}
  ports:
    - port: {{ .Values.postgres.service.port }}
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    {{- include "n8n-stack.postgres.selectorLabels" . | nindent 4 }}
