apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "n8n-stack.fullname" . }}-n8n
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "n8n-stack.n8n.labels" . | nindent 4 }}
data:
  GENERIC_TIMEZONE: {{ .Values.n8n.env.GENERIC_TIMEZONE | quote }}
  TZ: {{ .Values.n8n.env.TZ | quote }}
  N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: {{ .Values.n8n.env.N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS | quote }}
  N8N_RUNNERS_ENABLED: {{ .Values.n8n.env.N8N_RUNNERS_ENABLED | quote }}
  N8N_SECURE_COOKIE: {{ .Values.n8n.env.N8N_SECURE_COOKIE | quote }}
  DB_TYPE: {{ .Values.n8n.env.DB_TYPE | quote }}
  DB_POSTGRESDB_DATABASE: {{ .Values.n8n.env.DB_POSTGRESDB_DATABASE | quote }}
  DB_POSTGRESDB_HOST: {{ include "n8n-stack.fullname" . }}-postgres
  DB_POSTGRESDB_PORT: {{ .Values.n8n.env.DB_POSTGRESDB_PORT | quote }}
  DB_POSTGRESDB_USER: {{ .Values.n8n.env.DB_POSTGRESDB_USER | quote }}
  DB_POSTGRESDB_SCHEMA: {{ .Values.n8n.env.DB_POSTGRESDB_SCHEMA | quote }}
